<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/admin" class="brand-link">
    <img src="../../dist/img/logo.png" alt="Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">Little Einsteins</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a href="/admin" class="d-block"><%= user.username %></a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/admin" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/children" class="nav-link">
            <i class="nav-icon fas fa-baby"></i>
            <p>
              Children
            </p>
          </a>
        </li>
        <% for(var i = 0; i<classes.length; i++) { %> 
          <% if(user.access.includes(classes[i].name)) { %>
            <li class="nav-header"><%= classes[i].name %> </li>
            <li class="nav-item">
              <a href="/admin/class/<%= classes[i].id %>" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  Class
                </p>
              </a>
            </li> 
            <li class="nav-item">
              <a href="/admin/class/<%= classes[i].id %>/attendance" class="nav-link">
                <i class="nav-icon fas fa-calendar-alt"></i>
                <p>
                  Attendance
                </p>
              </a>
            </li>
          <% } %> 
        <% } %> 
        <li class="nav-header">Reports</li>
        <li class="nav-item">
          <a href="https://adminlte.io/docs/3.0" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Documentation</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>