<div class="shadow-lg p-3 bg-white rounded">
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h5><i class="fas fa-child"></i> Little Einsteins Daycare Centre</h5>
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-unstyled">
                                <li><a href="/">Home</a></li>
                                <li><a href="#aboutus">About Us</a></li>
                                <li><a href="#ourclasses">Our Classes</a></li>
                                <li><a href="#footer">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <ul class="nav">
                        <li class="nav-item"><a href="https://www.facebook.com/Little-Einsteins-Creche-106093649433827" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
                        <li class="nav-item"><a href="mailto://janice@littleeinsteins.ie" class="nav-link"><i class="fa fa-envelope fa-lg"></i></a></li>
                    </ul>
                    <br>
                </div>
                <div class="col-md-2">
                    <h5 class="text-md-right">Contact Us</h5>
                    <hr>
                </div>
                <div class="col-md-5">
                    <form action="/contact" method="post">
                        <div class="form-group"><input class="form-control" type="text" name="email" placeholder="Email"></div>
                        <div class="form-group"><input class="form-control" type="text" name="message" placeholder="Message"></div>
                        <div class="form-group"><button type="submit" class="btn btn-secondary-outline btn-lg">Send</button></div></form>
                </div>
            </div>
        </div>
    </footer>
</div>